@font-face {
   font-family: 'SourceHanSerifCN-Heavy';
   font-display: swap;
   src: url('file:///C:/Users/skyme/OneDrive/%E6%A1%8C%E9%9D%A2/%E5%BB%B6%E5%B9%B3%E7%A4%BE%E5%8D%80/%E5%BB%B6%E5%B9%B3%E7%B6%B2%E7%AB%99/fonts/SourceHanSerifCN-Heavy/font.ttf');
}
