@font-face {
   font-family: 'SourceHanSerifCN-Heavy';
   font-display: swap;
   src: url('file:///C:/Users/skyme/OneDrive/%E6%A1%8C%E9%9D%A2/%E5%BB%B6%E5%B9%B3%E7%A4%BE%E5%8D%80/%E6%96%B0%E5%A2%9E%E8%B3%87%E6%96%99%E5%A4%BE/fonts/SourceHanSerifCN-Heavy/font.ttf');
}
